body{
    color: rgb(13, 48, 80);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

#bookingMaster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 80px;
    background-color: rgb(209, 223, 241);
    border-radius: 20px;
    color: rgb(13, 48, 80);
    font-family: 'Roboto', sans-serif;
}

#centerForm{
    margin: 40px 50px;
}

#daySelect{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0 10px;
}

#dateDropdown{
    height: 30px;
    border: 1px solid rgb(13, 48, 80);
    border-radius: 30px;
    background-color: white;
    text-indent: 5px;
    appearance: none;
}

#timeSub{
    background-color: rgb(13, 48, 80);
    border: 0;
    border-radius: 100px;
    font-weight: bold;
    width: auto;
    text-align: center;
    margin: 20px;
    padding: 12px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: 500ms;
}

#timeSub:hover{
    background-color: rgb(67, 89, 163);
    transition: 500ms;
}

.radiogrid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
}

.radio-grid-item{
    margin: 12px;
}

.radiobutton{
    background-color: rgb(13, 48, 80);
    color: white;
    width: 30px;
    padding: 8px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.radioinput{
    margin: 18px 0 18px 0;
    appearance: none;
}

.radiobutton:has(input:checked){
    background-color: rgb(67, 89, 163);
}