h1{
    font-size: 38px;
    font-weight: bold;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
}

#bokningarMaster{
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
    width: 750px;
}

#bokningarElement{
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 244, 250);
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}

#status{
    margin-top: 5px;
}

#buttonMaster{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#buttonMaster a{
    text-decoration: none;
}

.buttonSlave{
    background-color: rgb(13, 48, 80);
    border-radius: 100px;
    font-weight: bold;
    width: auto;
    text-align: center;
    margin: 20px;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    transition: 500ms;
}

