body{
    min-height: 100vh;
    margin: 0;
}

main{
    min-height: 100vh;
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(13, 48, 80);
    margin-top: 10vh;
    padding: 20px;
}

footer a{
    color: white;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 500ms;
}

footer a:hover{
    cursor: pointer;
    text-decoration-color: white;
}

footer h3{
    color: white;
}

#footCenter{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}