#formMaster{
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
    display: flex;
    flex-direction: column;
    width: 50%;
}

.detailMaster{
    width: 500px;
}

.detailSlave{
    background-color: rgb(240, 244, 250);
    margin-top: 15px;
    padding: 15px;
    border-radius: 25px;
}

.mainSummary{
    font-size: 18px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

.message-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.message-box {
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.message-box h1 {
    color: #4CAF50;
}
.message-box p {
    font-size: 18px;
}
.phone-number {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.redirect-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}