#formMaster{
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
}

.detailMaster{
    width: 500px;
    margin: auto;
    text-align: start;
}

.detailSlave{
    background-color: rgb(240, 244, 250);
    margin-top: 15px;
    padding: 15px;
    border-radius: 25px;
}

.mainSummary{
    font-size: 18px;
    font-weight: bold;
}

#description{
    height: 200px;
    border: solid 2px rgb(13, 48, 80);
    border-radius: 10px;
    padding-left: 5px;
    overflow: hidden;
    resize: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

.message-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.message-box {
    border: 2px solid rgb(13, 48, 80);
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(240, 244, 250);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.message-box h1 {
    color: rgb(13, 48, 80);
}
.message-box p {
    font-size: 18px;
}
.phone-number {
    font-size: 22px;
    font-weight: bold;
    color: rgb(13, 48, 80);
}

.redirect-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(13, 48, 80);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sickSub{
    background-color: rgb(13, 48, 80);
    border: 0;
    border-radius: 100px;
    font-weight: bold;
    width: auto;
    text-align: center;
    margin: 20px;
    padding: 12px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: 500ms;
}

#sickSub:hover{
    background-color: rgb(67, 89, 163);
    transition: 500ms;
}