@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

header {
    border-bottom: 1px solid rgb(240, 244, 250);
    font-family: proxima-nova, helvetica, arial, sans-serif;
}

#center{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

#companylogo img{
    height: 30px;
    width: auto;
    margin: 20px;
    margin-top: 25px;
    margin-left: 80px;
}

#topnav {
    overflow: hidden;
    display: flex;
    font-weight: bold;
    transition: 0.5s;
}

.navbox{
    margin: 20px;
}

.navbox a{
    text-decoration: underline;
    text-decoration-color: transparent;
    text-align: center;
    font-size: 16px;
    color: rgb(13, 48, 80);
    transition: 500ms;
}

.navbox a:hover{
    text-decoration-color: rgb(13, 48, 80);
    transition: 500ms;
}

.navbutton{
    justify-content: flex-end;
    background-color: rgb(13, 48, 80);
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    text-align: center;
    margin: 20px;
    padding: 12px;
    transition: 500ms;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.navbutton:hover{    
    background-color: rgb(67, 89, 163);
    transition: 500ms;
}


#translate{
    position: absolute;
    top: 5px;
    right: 10px;
    
}

#translate a{
    text-decoration: none;
    color: rgb(13, 48, 80);
}