@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body{
    color: rgb(13, 48, 80);
    font-family: 'Roboto', sans-serif;
}

#split{
    width: 100%;
    height: 400px;
    display: flex;
    margin-bottom: 40px;
}

#left{
    flex: 50%;
    background-color: rgb(209, 223, 241);
}

#leftP{
    padding: 85px 0px 70px calc(-588px + 50vw);
    margin-right: 70px;
    font-size: 20px;
    text-align: left;
}

h1{
    text-align: center;
    margin: 20px;
}

#leftP h1{
    font-size: 48px;
    text-align: left;
    margin: 0;
}

#right{
    flex: 50%;
    background-image: url(../IMG/treatment.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mastergrid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    font-family: 'Roboto', sans-serif;
}

.mastergridelement{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 244, 250);
    border-radius: 14px;
    margin: 15px;
}

.gridelement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    width: 220px;
    height: 280px;
    margin: 32px 24px;
}

h3{
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
}

p{
    margin: 8px;
    color: rgb(13, 48, 80);
    font-size: 16px;
}

.pushdowndammit{
    margin-block-start: auto;
    text-decoration: none;
}

.gridbutton{
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(13, 48, 80);
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 28px;
}

#tjanster{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.tjanstMasterElement{
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
    width: 75%;
}

.tjanstElement{
    background-color: rgb(240, 244, 250);
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}

.mainSummary{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}