@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body, header {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(164, 178, 212);
    font-family: 'Roboto', sans-serif;
    padding: 30px;
}

#companylogo img{
    height: 60px;
    width: auto;
    margin: 20px;
    margin-left: 80px;
}

#topnav {
    margin: 20px;
    overflow: hidden;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.navbox{
    margin: 20px;
}

.navbox a{
    text-decoration: underline;
    text-decoration-color: transparent;
    text-align: center;
    font-size: 15px;
    color: rgb(18, 38, 105);
    transition: 500ms;
}

.navbox a:hover{
    text-decoration-color: rgb(18, 38, 105);
    transition: 500ms;
}

.navbutton{
    justify-content: flex-end;
    background-color: rgb(18, 38, 105);
    border-radius: 100px;
    font-weight: bold;
    width: auto;
    text-align: center;
    margin: 20px;
    padding: 12px;
    transition: 500ms;
}


.navbutton a{ 
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.navbutton:hover{    
    background-color: rgb(67, 89, 163);
    transition: 500ms;
}



#loginForm{
    margin-top:20px;
    border: solid 2px;
    border-radius:20px;
    width:300px;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

#inloggTable{
    padding:5px;
    margin-left:5px;
    margin-top:15px;

    font-family: 'Roboto', sans-serif;
}

#användarnamn{
    padding:5px;

    font-family: 'Roboto', sans-serif;
}

#lösenord{
    padding:5px;

    font-family: 'Roboto', sans-serif;
}

#inlogg{
    display:flex;
    justify-content: center;
    padding:5px;
    margin:auto;
}

.infoText{
    margin:auto;
    margin-top:20px;
    border: solid 2px;
    border-radius:20px;
    width:60%;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);

    font-family: 'Roboto', sans-serif;
}