@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

#slaveOwner{
    display: flex;
    align-items: flex-start;

}

.jourMasterElement{
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
    width: 75%;
}

.jourElement{
    background-color: rgb(240, 244, 250);
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}

.mainSummary{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

h2{
    margin-left: 18px;
}

hr{
    border-top: 1px solid rgb(13, 48, 80);
}