@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

#namn{
    color: rgb(13, 48, 80);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 12px;
    margin-left: auto;
}

h2{
    text-align: center;
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
}

#mastergrid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    font-family: 'Roboto', sans-serif;
}

.mastergridelement{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 244, 250);
    border-radius: 14px;
    margin: 15px;
}

.gridelement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    width: 220px;
    height: 280px;
    margin: 32px 24px;
}

h3{
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 48, 80);
}

p{
    margin: 8px;
    color: rgb(13, 48, 80);
    font-size: 16px;
}

.pushdowndammit{
    margin-block-start: auto;
    text-decoration: none;
}

.gridbutton{
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(13, 48, 80);
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 28px;
}